{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block body %}
	<section class="contact">

		<h2>Nous Contacter
		</h2>

		<div class="all">
			<div class="phone">
				<h3>Par Téléphone</h3>
				<p>
					<a href=""><strong>+99 1 02 03 04 05</strong></a>
				</p>
			</div>
			<div class="mail">
				<h3>Par Email</h3>
				<p>
					<a href=""><strong>Les Couturier@Gogle.com</strong></a>
				</p>
			</div>

		</div>
	</section>
{% endblock %}
